<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" >
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Login</h1>
                <div class="alert alert-danger" role="alert" >
                  Algo no esta bien!
                </div>
                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electronico" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                <div class="form-group">
                  <a routerLink="/user/register" class="form-control login-user">¿Eres usuario nuevo?</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()"><span class="fa fa-facebook"></span> Facebook</button>
                  <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()"><span class="fa fa-google"></span> Google</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
