<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                <h1 class="h3 mb-3 font-weight-normal">Registrar</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{msgError}}
                </div>

                <div class="form-group">
                  <input type="email"  name="email" class="form-control" placeholder="Correo Electronico" [(ngModel)]="email" required
                    minlength="8">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                  <div *ngIf="email.errors.required">El correo es requerido</div>
                  <div *ngIf="email.errors.minlength">EL correo debe tener al menos 8 caracteres</div>
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"
                    required minlength="5" maxlength="10">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                  <div *ngIf="password.errors.required">La contraseña es requerida</div>
                  <div *ngIf="password.errors.minlength">La contraseña debe tener al menos 5 caracteres</div>
                </div>
                <hr>
                <div class="form-group">
                  <h5>Seleccionar Imagen</h5>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="es" accept=".png, .jpg" (change)="onUpload($event)">
                      <label class="custom-file-label text-left" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                  </div>
                  <div class="progress my-4">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'">

                    </div>
                  </div>
                <input #imageUser type="hidden" [value]="urlImage | async">
                <button *ngIf="urlImage | async; else btnDisabled" type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>
                <ng-template #btnDisabled>
                    <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Registrar</button>
                </ng-template>

                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">¿Ya tienes una cuenta?</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()"><span class="fa fa-facebook"></span> Facebook</button>
                  <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()"><span class="fa fa-google"></span> Google</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
